* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	margin-left: 5%;
	margin-right: 5%;
}

.page {
	background-color: #ffffcc;
}

header {
	background-color: #ff751a;
	box-shadow: 1px 3px 3px grey;
	text-align: right;
}

.header_logo {
	float: left;
	width: 30%;
	height: 190px;
	overflow: visible;
}

.header_logo a {
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	height: 252px;
	width: 379px;
	overflow: visible;
	position: absolute;
	left: 10%;
	top: 2%;
	z-index: 1;
}

.header_nav {
	float: right;
	text-align: right;
	width: 70%;
	height: 190px;
	position: relative;
}

.header_search {
	float: right;
	padding-top: 2rem;
	padding-right: 2rem;
	display: block;
}

header nav {
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: right;
}

header button {
	display: inline-block;
	vertical-align: top;
	float: left;
	border: none;
	border-radius: 0 0.25rem 0.25rem 0;
	box-sizing: border-box;
	height: 22px;
	margin: 0;
	padding: 0;
}

header input {
	vertical-align: top;
	height: 22px;
	margin: 0;
	padding: 0;
	float: left;
	box-sizing: border-box;
	border-radius: 0.25rem 0 0 0.25rem;
}

nav ul {
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: right;
}

nav li {
	float: left;
	color: white;
	background-color: #ffcc99;
	display: inline-block;
	margin: 0;
	padding-left: 2rem;
	padding-top: 0.75rem;
	padding-right: 2rem;
	padding-bottom: 0.75rem;
	
}

nav a {
	text-decoration: none;
}

h1 {
	/*font-weight: bold;*/
	/*position: absolute;
	left: -9999px;*/
	font-size: 0rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1rem;
}

main {
	padding: 2rem 0.5rem 2rem 0.5rem;
}

article {
	width: 66%;
	float: left;
}

article img {
	width: 100%;
}

aside {
	width: 34%;
	float: right;
	padding-left: 0.75rem;
	margin-bottom: 0.75rem;
}

footer {
	color: white;
	background-color: grey;
}

footer .left {
	width: 60%;
	float: left;
}

footer .legal {
	float: right;
	text-align: right;
	padding: 1rem;
}

footer .a {
	color: white;
}

footer .media {
	text-align: right;
	padding: 1rem;
}

.media_button {
	border: 0;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.media_button_f {
	border: 0;
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 45px;
	height: 45px;
	background-image: url("../img/media_facebook_grey.png");
	background-repeat: no-repeat;
}

.media_button_f:hover {
	background-image: url("../img/media_facebook_color.png");
	background-repeat: no-repeat;
}

.media_button_t {
	border: 0;
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 45px;
	height: 45px;
	background-image: url("../img/media_twitter_grey.png");
	background-repeat: no-repeat;
}

.media_button_t:hover {
	background-image: url("../img/media_twitter_color.png");
	background-repeat: no-repeat;
}

.media_button_p {
	border: 0;
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 45px;
	height: 45px;
	background-image: url("../img/media_pinterest_grey.png");
	background-repeat: no-repeat;
}

.media_button_p:hover {
	background-image: url("../img/media_pinterest_color.png");
	background-repeat: no-repeat;
}

.media_button_g {
	border: 0;
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 45px;
	height: 45px;
	background-image: url("../img/media_gplus_grey.png");
	background-repeat: no-repeat;
}

.media_button_g:hover {
	background-image: url("../img/media_gplus_color.png");
	background-repeat: no-repeat;
}

.clear {
	clear: both;
}

.contact_main {
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	text-align:center;
}

.btn_contact_send {
	background-color: orange;
	color: white;
	border: none;
	border-radius: 0.25rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

hr {
	border-color: orange;
}

.comentarios {
	text-align: left;
}

.comentarios>textarea {
	border-color: orange;
	border-radius: 0.25rem;
	width: 100%;
}

.aficiones {
	width: 50%;
	float: left;
}

select {
	width: 14rem;
	border-color: orange;
	border-radius: 0.25rem;
}

.aside_title {
	background-color: orange;
	color: white;
	padding: 0.75rem;
}

.aside_box {
	border: 2px solid orange;
	overflow: auto;
	padding: 0.75rem;
}

.aside_img {
	float: left;
	margin-right: 0.75rem;
}

.aside_text {
	padding-left: 0.75rem;
}
